@charset "UTF-8";
/* CSS Document */

#upload-div {
	display:block;
}

#doc-lib-div {
	display:none;
}

.media-frame-router {
	position:relative;
	top:10px;
	left:0;
}

.document-nav-menu {
	height:45px;
	top:10px;
	border-bottom: 1px solid #dfdfdf;
}

.document-nav-menu div {
	float:left;
	font-size:14px;
	height:18px;
	padding:10px;
	margin:5px;
	border-right: 1px solid #dfdfdf;
	text-decoration:none;
	color: #21759b;
	cursor:pointer;
}
.document-nav-menu div:last-child {
	border-right:none;
}
.document-nav-menu div.active {
	color: #333; 
}

.major-sec {
	width:100%;
	height:100%;
}

.upload-ui {
	height:90%;
	margin:4%;
	padding-top:15%;
	width:90%;
	text-align:center;
}

.upload-ui.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

.upload-ui h3 {
	font-size:20px;
	font-weight:normal;
}

#f1_upload_process{
   z-index:100;
   position:absolute;
   visibility:hidden;
   text-align:center;
   width:400px;
   margin:0px;
   padding:0px;
   background-color:#fff;
   border:1px solid #ccc;
}
 

.doc-div {
	width:90px;
	margin:10px;
	padding:5px;
	border:thin solid #dfdfdf;
	float:left;
	cursor: pointer;
	overflow:hidden;
	background-color:#ddd;
	border: 3px solid #ccc;
}
.doc-div img {
	width:80px;
	background-color:#fff;
}
.doc-div p {
	font-size:14px;
	color: #333;
}

.doc-selected {
	border:3px solid #21759b;
	background: none;
	background: rgba(33,117,155,0.2);
}

img.delete {
	margin: -15px 0 0 85px;
	position:absolute;
	z-index:10;
	width: 20px;
	height: 20px;
	background-color:transparent;
}

table.describe input[type='text'] {
	width:300px;
}

table.describe input[type='submit'] {
	margin-top: 20px;
	width:250px;
	height: 40px;
	font-size:1.5em;
}

.advanced_options {
	width: 400px;	
}

.advanced_options h2 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	font-size: 1.2em;
	
	background-color: #BBB;
	border: 1px solid #777;
	margin: 0;
	padding: 0 0 0 30px;	
	cursor:pointer;
	
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.advanced_options div {
	width:100%;
	border: 1px solid #777;
	
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

.advanced_options img.arrow {
	position:absolute;
	margin: 5px 0 5px -27px;
}